{% include "header.html"%}

             <div id="layoutSidenav_content"> 
                <main>

                    
                    <div class="container rounded bg-white mt-5 mb-5">
                        <div class="row">
                            <div class="col-md-3 border-right">
                                
                                </div>
                            <div class="col-md-5 border-right">
                                <div class="p-3 py-5">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h2 class="text-right">Coupon History</h2>
                                    </div>
                                    <br>
                                    {%for message in messages %}
                                        <div class="alert alert-danger" role="alert">{{message}}
                                        </div>
                                        {% endfor %} 

                                        <table class="table table-dark table-striped" style="border: solid; background-color:#fffacd;">
                                          <tr>
                                            <th>Date</th>
                                            <th>Breakfast</th>
                                            <th>Lunch</th>
                                            <th>Evening_snacks</th>
                                            <th>Dinner</th>
                                  
                                          </tr>
                                          {%for n in coupons%}
                                          <tr>
                                            <td>{{n.Date}}</td>
                                            <td>{{n.Breakfast}}</td>
                                            <td>{{n.Lunch}}</td>
                                            <td>{{n.Evening_snacks}}</td>
                                            <td>{{n.Dinner}}</td>
                                          </tr>  
                                          {% endfor %}
                                  
                                        </table>
                               
                                    </div>
                            </div>
                
                        </div>
                    </div>
                    </div>
                    </div>
                    
                    </div>
                </main>
                
            </div>
        </div>
        {%include "footer.html"%}        