{%include "header.html"%}

             <div id="layoutSidenav_content"> 
                <main>

                    
                    <div class="container rounded bg-white mt-5 mb-5">
                        <div class="row">
                            <div class="col-md-3 border-right">
                                
                                </div>
                            <div class="col-md-5 border-right">
                                <div class="p-3 py-5">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h2 class="text-right">{{Day}} Mess Menu</h2>
                                    </div>
                                    <br>
                                    

                                        <table class="table table-dark table-striped" style="border: solid; background-color:#fffacd;">
                                          <tr>
                                            <th>Meal Type</th>
                                            <th>Menu</th>
                                          </tr>
                                          <tr>
                                            <td>Breakfast</td>
                                            <td>{{Breakfast}}</td>
                                          </tr>
                                          <tr>
                                            <td>Lunch</td>
                                            <td>{{Lunch}}</td>
                                          </tr>
                                          <tr>
                                            <td>Evening Snacks</td>
                                            <td>{{Evening_snacks}}</td>
                                          </tr>
                                          <tr>
                                            <td>Dinner</td>
                                            <td>{{Dinner}}</td>
                                          </tr>
                                          
                                        </table>
                                    
                                    </div>
                            </div>
                
                        </div>
                    </div>
                    </div>
                    </div>
                    
                    </div>
                </main>
                
            </div>
        </div>
        {%include "footer.html"%}        