{%include "header.html"%}

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Mess Menu</h1>
                        <br><br>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Monday</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="/menumon/">View Details</a>
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Tuesday</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="/menutue/">View Details</a>
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Wednesday</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="/menuwed/">View Details</a>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Thursday</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="/menuthu/">View Details</a>
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Friday</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="/menufri/">View Details</a>
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Saturday</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="/menusat/">View Details</a>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Sunday</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="/menusun/">View Details</a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        {% comment %} <a href="{{ my_model_instance.specifications.url }}">Download PDF</a> {% endcomment %}
                        
                </main>
                
            </div>





        </div>
        {%include "footer.html"%}        